.app {
  /* height: 100vh; */
  display: flex;
  flex-direction: column;
}

.app__body {
  display: flex;
  /* height: 100vh; */
}

.table__options {
  margin: 15px;
}

.top__part {
  display: flex;
  flex-direction: row;
  flex: 0.7;
}

.table {
  margin-left: 280px;
  margin-top: -150px;
}

/* .app {
  height: 100vh;
}

.app__body {
  display: flex;
  height: 100vh;
}

.top__part {
  flex: 1;
} */
